- edit ||= false
- collapsed = session[:lead_presence].nil? # && @lead.errors.empty?
= subtitle :lead_presence, collapsed, t(:web_presence)
.section
  %small#lead_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #lead_presence{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top #{t :blog}:
          = f.text_field :blog, placeholder: "Enter your website or blog"
        %td= spacer
        %td
          .label.top #{t :twitter}:
          = f.text_field :twitter, placeholder: "Enter your Twitter account"
      %tr
        %td
          .label #{t :linked_in}:
          = f.text_field :linkedin, placeholder: "Enter your LinkedIn account"
        %td= spacer
        %td
          .label #{t :facebook}:
          = f.text_field :facebook, placeholder: "Enter your Facebook account"
      %tr
        %td
          .label #{t :skype}:
          = f.text_field :skype, placeholder: "Enter your Skype account"
        %td= spacer
        %td= spacer

